<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="first-item">
						<div class="logo">
							<h1 style="font-size: xx-large; font-family: 'Courier New'; color: white">BEAUTIF-SHOP</h1>
						</div>
						<ul>
							<li><a th:href="@{/other/contact}">ThuDuc-TP.HCM</a></li>
							<li><a th:href="@{/other/contact}">nam028200@gmail.com</a></li>
							<li><a th:href="@{/other/contact}">000-000-000</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3">
					<h4>Shopping &amp; Categories</h4>
					<ul>
						<li><a href="#">Men’s Shopping</a></li>
						<li><a href="#">Women’s Shopping</a></li>
						<li><a href="#">Kid's Shopping</a></li>
					</ul>
				</div>
				<div class="col-lg-3">
					<h4>Useful Links</h4>
					<ul>
						<li><a th:href="@{/other/aboutus}">Homepage</a></li>
						<li><a th:href="@{/other/aboutus}">About Us</a></li>
						<li><a th:href="@{/other/contact}">Help</a></li>
						<li><a th:href="@{/other/contact}">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-lg-3">
					<h4>Help &amp; Information</h4>
					<ul>
						<li><a th:href="@{/other/contact}">Help</a></li>
						<li><a th:href="@{/other/contact}">FAQ's</a></li>
						<li><a th:href="@{/other/contact}">Shipping</a></li>
						<li><a th:href="@{/other/contact}">Tracking ID</a></li>
					</ul>
				</div>
				<div class="col-lg-12">
					<div class="under-footer">
						<p>
							Copyright © 2023 BEAUTIF-SHOP. All Rights Reserved. <br>Design:
							<i target="_parent" title="free css templates">NPN</i>
						</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>